<ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <ion-button shape="round"
        ><ion-img
          src="./../../assets/logo.jpg"
          alt="Logo of clinic"
          class="logo-site"
        ></ion-img
      ></ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button
        ><ion-icon name="notifications-outline" size="medium" ></ion-icon
      ></ion-button>
      <ion-button
        ><ion-icon name="person-circle-outline" size="large"></ion-icon
      ></ion-button>
    </ion-buttons>
</ion-toolbar>
