<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-text>Please enter your details:</ion-text>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label position="floating">First Name</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>

         <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input type="email"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Division</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Specialization</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Date of birth</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>
      </ion-list>
      
      <ion-button color="secondary" fill="clear" size="full"
        >Register</ion-button
      >
    </ion-card-content>
  </ion-card>
</ion-content>