<app-header></app-header>
<ion-content [fullscreen]="true">
  <div class="flex-center">
    <ion-card class="display-card">
      <ion-img
        id="heading"
        src={{patient.image}}
        alt="The Wisconsin State Capitol building in Madison, WI at night"
      ></ion-img>
      <ion-card-header>
        <ion-card-title>Welcome back {{ patient.firstName }}!</ion-card-title>
      </ion-card-header>

      <ion-card-content>
         @if(appointments.length > 0){
        <ion-item>
          <ion-icon name="calendar-outline"></ion-icon>
         
            <ion-text>Your next appointment is on {{ appointments[0].date_of_appointment }}</ion-text>
          
          
        </ion-item>

        <ion-item>
          <ion-icon name="location-outline"></ion-icon>
          <ion-text>Location</ion-text>
        </ion-item>

        <ion-item>
          <ion-icon name="person-outline"></ion-icon>
          <ion-text>Doctor Name</ion-text>
        </ion-item>
        } @else{
            <ion-text>You don't have any appointments made.</ion-text>
          }
         <ion-button routerLink="/next-appointments"
          >Create appointment
          <!-- <ion-icon name="arrow-forward-circle-outline" ></ion-icon> -->
        </ion-button>

        <ion-button (click)="editProfile()"
          >Edit profile
          <!-- <ion-icon name="arrow-forward-circle-outline" ></ion-icon> -->
        </ion-button>
        <ion-button routerLink="/next-appointments"
          >See all appointments
          <!-- <ion-icon name="arrow-forward-circle-outline" ></ion-icon> -->
        </ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>