<app-header></app-header>
<ion-content [fullscreen]="true">
  <div class="flex-center">
    <!-- <ion-card class="display-card"> -->
    @if(patient){
    <ion-img id="heading" src="{{patient.image}}" alt="patient image"></ion-img>
    }

    <ion-card-header>
      <ion-card-title>Welcome back {{ patient.firstName }}!</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      @if(appointments.length > 0){

      <!-- <ion-icon name="calendar-outline"></ion-icon> -->
      <ion-text>Your next appointments are: </ion-text>
      <ion-accordion-group>
        @for(appointment of appointments;track appointment){

        <ion-accordion value="{{appointment.id}}">
          <ion-item slot="header" color="light">
            <ion-label>
              {{
              appointment.dateOfAppointment
            }}
            </ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">
            <ion-item>
              <img class="doc-profile" src="{{appointment.doctor.image}}" alt="patient image">
              <ion-text>
                {{appointment.doctor.firstName}} {{appointment.doctor.lastName}}
                - {{appointment.location.name}} - {{appointment.status}}
              </ion-text>
            </ion-item>
          </div>
        </ion-accordion>
        }


      </ion-accordion-group>
      } @else{
      <ion-text>You don't have any appointments made.</ion-text>
      }
      <ion-button (click)="createAppointment()"
        >Create appointment
        <!-- <ion-icon name="arrow-forward-circle-outline" ></ion-icon> -->
      </ion-button>

      <ion-button (click)="editProfile()">Edit profile </ion-button>
      <ion-button
        >See all appointments
        <!-- <ion-icon name="arrow-forward-circle-outline" ></ion-icon> -->
      </ion-button>
    </ion-card-content>
    <!-- </ion-card> -->
  </div>
</ion-content>
