<ion-header [translucent]="true">
  <ion-toolbar>
   
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
         <ion-button shape="round"><ion-img src="./../../assets/logo.jpg" alt="Logo of clinic" class="logo-site" ></ion-img></ion-button>
      </ion-buttons>

      <ion-buttons slot="end">
        <ion-button><ion-icon name="notifications-outline" size="medium"></ion-icon></ion-button>
        <ion-button><ion-icon name="person-circle-outline" size="large"></ion-icon></ion-button>

        <!-- <ion-avatar>
          <img
            alt="User profile"
            src="https://ionicframework.com/docs/img/demos/avatar.svg"
          />
        </ion-avatar> -->
      </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="small">Welcome back Alex!</ion-title>
    </ion-toolbar>
  </ion-header> -->

  <ion-text color="tertiary">
    <h2>Welcome back Alex!</h2>
  </ion-text>

  <ion-text color="tertiary">Are you ready for your next appointment?</ion-text>

    <ion-img id="heading"
    src="https://docs-demo.ionic.io/assets/madison.jpg"
    alt="The Wisconsin State Capitol building in Madison, WI at night"
  ></ion-img>

  <ion-item>
    <ion-icon name="calendar-outline"></ion-icon>
    <ion-text color="tertiary">Your next appointment is on the 20th August 2025</ion-text>
  </ion-item>

  <ion-item>
    <ion-icon name="location-outline"></ion-icon>
    <ion-text color="tertiary">Location</ion-text>
  </ion-item>

  <ion-item>
    <ion-icon name="person-outline"></ion-icon>
    <ion-text color="tertiary">Doctor Name</ion-text>
  </ion-item>
   
  <ion-button fill="outline" routerLink="/next-appointments">See more <ion-icon name="arrow-forward-circle-outline"></ion-icon> </ion-button>

  <!-- <app-explore-container></app-explore-container> -->
</ion-content>
