ion-content{
    --background: var(--patient-display-color);
}

ion-list{
    width: 96%;
    height: 96%;
}

ion-item{
    width: 96%;
}

ion-icon{
    margin: 0.5rem;
}
ion-list-header{
    font-size: 18px;
}