<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <ion-button shape="round"
        ><ion-img
          src="./../../assets/logo.jpg"
          alt="Logo of clinic"
          class="logo-site"
        ></ion-img
      ></ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button
        ><ion-icon name="notifications-outline" size="medium"></ion-icon
      ></ion-button>
      <ion-button
        ><ion-icon name="person-circle-outline" size="large"></ion-icon
      ></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item>
      <ion-list-header><ion-label>Doctor</ion-label> </ion-list-header>
      <ion-list-header><ion-label>Date</ion-label> </ion-list-header>
      <ion-list-header><ion-label>Speciality</ion-label> </ion-list-header>
    </ion-item>
    <ion-item>
      <ion-avatar>
  <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
</ion-avatar>
      <ion-label>John Dorian</ion-label>
      <ion-label>Today's date</ion-label>
      <ion-label>Dentist</ion-label>
      <ion-icon name="arrow-forward-outline"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-avatar>
  <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
</ion-avatar>
      <ion-label>John Dorian</ion-label>
      <ion-label>Today's date</ion-label>
      <ion-label>Dentist</ion-label>
      <ion-icon name="arrow-forward-outline"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-avatar>
  <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
</ion-avatar>
      <ion-label>John Dorian</ion-label>
      <ion-label>Today's date</ion-label>
      <ion-label>Dentist</ion-label>
      <ion-icon name="arrow-forward-outline"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-avatar>
  <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
</ion-avatar>
      <ion-label>John Dorian</ion-label>
      <ion-label>Today's date</ion-label>
      <ion-label>Dentist</ion-label>
      <ion-icon name="arrow-forward-outline"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-avatar>
  <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
</ion-avatar>
      <ion-label>John Dorian</ion-label>
      <ion-label>Today's date</ion-label>
      <ion-label>Dentist</ion-label>
      <ion-icon name="arrow-forward-outline"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-avatar>
  <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
</ion-avatar>
      <ion-label>John Dorian</ion-label>
      <ion-label>Today's date</ion-label>
      <ion-label>Dentist</ion-label>
      <ion-icon name="arrow-forward-outline"></ion-icon>
    </ion-item>

  </ion-list>
</ion-content>
