<app-header></app-header>
<ion-content [fullscreen]="true">
  <div class="flex-center">
    <ion-list>
      <ion-item>
        <ion-list-header><ion-label>Doctor</ion-label> </ion-list-header>
        <ion-list-header><ion-label>Date</ion-label> </ion-list-header>
        <ion-list-header><ion-label>Speciality</ion-label> </ion-list-header>
      </ion-item>
      <ion-item>
        <ion-icon name="person-circle-outline"></ion-icon>
        <ion-label>John Dorian</ion-label>
        <ion-label>Today's date</ion-label>
        <ion-label>Dentist</ion-label>
        <!-- <ion-icon name="arrow-forward-outline"></ion-icon> -->
      </ion-item>
      <ion-item>
        <ion-icon name="person-circle-outline"></ion-icon>
        <ion-label>John Dorian</ion-label>
        <ion-label>Today's date</ion-label>
        <ion-label>Dentist</ion-label>
        <!-- <ion-icon name="arrow-forward-outline"></ion-icon> -->
      </ion-item>
      <ion-item>
        <ion-icon name="person-circle-outline"></ion-icon>
        <ion-label>John Dorian</ion-label>
        <ion-label>Today's date</ion-label>
        <ion-label>Dentist</ion-label>
        <!-- <ion-icon name="arrow-forward-outline"></ion-icon> -->
      </ion-item>
      <ion-item>
        <ion-icon name="person-circle-outline"></ion-icon>
        <ion-label>John Dorian</ion-label>
        <ion-label>Today's date</ion-label>
        <ion-label>Dentist</ion-label>
        <!-- <ion-icon name="arrow-forward-outline"></ion-icon> -->
      </ion-item>
      <ion-item>
        <ion-icon name="person-circle-outline"></ion-icon>
        <ion-label>John Dorian</ion-label>
        <ion-label>Today's date</ion-label>
        <ion-label>Dentist</ion-label>
        <!-- <ion-icon name="arrow-forward-outline"></ion-icon> -->
      </ion-item>
      <ion-item>
        <ion-icon name="person-circle-outline"></ion-icon>
        <ion-label>John Dorian</ion-label>
        <ion-label>Today's date</ion-label>
        <ion-label>Dentist</ion-label>
        <!-- <ion-icon name="arrow-forward-outline"></ion-icon> -->
      </ion-item>
    </ion-list>
  </div>
</ion-content>
