<app-header></app-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-text>Please enter your details:</ion-text>
    </ion-card-header>
    <ion-card-content>
      <form [formGroup]="doctorEditForm" (ngSubmit)="onSubmit()">
        <ion-list>
          <ion-item>
            @if(doctor.image){
            <div>
              <img [src]="doctor.image" alt="Profile Image" width="200" />
            </div>
            }
          </ion-item>

          <ion-item>
            @if(changePhoto){
            <ion-text>New Photo ID:</ion-text>
            <ion-input
              id="image"
              formControlName="newImage"
              label-placement="floating"
              fill="solid"
              placeholder="Enter text"
            ></ion-input>

            } @else{
            <ion-button (click)="setNewPhoto()">Change Photo</ion-button>
            }
          </ion-item>

          <ion-item>
            <ion-label for="firstName" position="floating"
              >First Name:</ion-label
            >
            <ion-input
              id="firstName"
              formControlName="firstName"
              type="text"
              fill="outline"
            ></ion-input>
          </ion-item>

          <ion-item>
            <ion-label for="lastName" position="floating">Last Name:</ion-label>
            <ion-input
              id="lastName"
              formControlName="lastName"
              type="text"
            ></ion-input>
          </ion-item>

          <ion-item>
            <ion-label for="dateOfBirth" position="floating"
              >Date of Birth:</ion-label
            >
            <ion-input
              id="dateOfBirth"
              formControlName="dateOfBirth"
              type="date"
              lang="en-UK"
            ></ion-input>
          </ion-item>

          <ion-item>
            <ion-select
              label="Specialization: "
              label-placement="floating"
              formControlName="specialization"
            >
              @for(spec of specializations;track spec){
              <ion-select-option value="{{spec.value}}"
                >{{ spec.displayName }}</ion-select-option
              >
              }
            </ion-select>
          </ion-item>

          <ion-item>
            <ion-select
              label="Gender: "
              label-placement="floating"
              formControlName="gender"
            >
              @for(gender of genders;track gender){
              <ion-select-option value="{{gender.value}}"
                >{{ gender.displayName }}</ion-select-option
              >
              }
            </ion-select>
          </ion-item>
        </ion-list>

        <ion-button color="secondary" fill="clear" size="full" type="submit"
          >Update Profile</ion-button
        >
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
