<app-header></app-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-text>Please enter your details:</ion-text>
    </ion-card-header>
    <ion-card-content>
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <ion-list>
          <div>
            <ion-item>
              <ion-label for="username" position="floating">Name</ion-label>
              <ion-input
                id="username"
                formControlName="name"
                type="text"
              ></ion-input>
            </ion-item>
          </div>
          <ion-item>
            <ion-label for="email" position="floating">Email</ion-label>
            <ion-input
              id="email"
              formControlName="email"
              type="email"
            ></ion-input>
          </ion-item>

          <ion-item>
            <ion-label for="dateOfBirth" position="floating"
              >Date of birth</ion-label
            >
            <ion-input
              id="dateOfBirth"
              formControlName="dateOfBirth"
              type="text"
            ></ion-input>
          </ion-item>

          <ion-item>
            <ion-label for="iban" position="floating">IBAN</ion-label>
            <ion-input id="iban" formControlName="iban" type="text"></ion-input>
          </ion-item>
        </ion-list>
        <ion-button color="success" fill="clear" size="full" type="submit"
          >Register</ion-button
        >
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
