.logo-site{
    width: 50px;
    height: 10%;
    border-radius: 45px;    
}

#heading{
    width: 300px;
}

ion-img{
    width: 300px;
    margin: 5% auto;
    // border: 2px solid red;
    // border-radius: 15px;
}

.details-container{
    width: 300px;
    margin: 7% auto;
}