<app-header></app-header>

<ion-content [fullscreen]="true">
  <div class="flex-center">
    <div class="display-card">
      <ion-img
        src="{{doctor.image}}"
        alt="doctor image"
        class="profile-img"
      ></ion-img>
      <div class="details-container">
        <ion-text>{{doctor.specialization}}</ion-text>
        <ion-grid>
          <ion-row>
            <ion-col size="4"
              ><ion-icon name="person-outline" size="large"> </ion-icon
            ></ion-col>
            <ion-col size="8"><ion-label>{{doctor.name}}</ion-label></ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="4"
              ><ion-icon name="location-outline" size="large"></ion-icon
            ></ion-col>
            <ion-col size="8"
              ><ion-label>{{doctor.department}}</ion-label></ion-col
            >
          </ion-row>

          <ion-row>
            <ion-col size="4" id="rating-value">4.5</ion-col>
            <ion-col size="8"><ion-label> Rating</ion-label></ion-col>
          </ion-row>
        </ion-grid>

        <ion-button (click)="editProfile()">Edit profile </ion-button>

        <ion-accordion-group>
          <ion-accordion value="first">
            <ion-item slot="header" color="light">
              <ion-label>Reviews</ion-label>
            </ion-item>
            <div class="ion-padding" slot="content">
              <ion-list>
                @for (item of items; track item; let index = $index) {
                <ion-item>
                  <ion-avatar slot="start">
                    <img
                      [src]="'https://picsum.photos/80/80?random=' + index"
                      alt="avatar"
                    />
                  </ion-avatar>
                  <ion-label>{{ item }}</ion-label>
                </ion-item>
                }
              </ion-list>
              <ion-infinite-scroll>
                <!-- <ion-infinite-scroll-content></ion-infinite-scroll-content> -->
              </ion-infinite-scroll>
            </div>
          </ion-accordion>
        </ion-accordion-group>
      </div>
    </div>
  </div>
</ion-content>
