ion-content{
    --background: var(--patient-display-color);
}

ion-card{
    padding: 1rem;
}

ion-button{
    display: block;
    font-size: 15px;
    margin: 2rem auto;
    --background: var(--patient-display-color);
}

ion-icon{
    margin: .2rem .8rem;
}