<app-header></app-header>

<ion-content [fullscreen]="true">
  <div class="flex-center">
    <ion-card class="display-card">
      <ion-list-header>Edit Appointment</ion-list-header>

      <ion-list>
        <ion-item>
          <ion-select aria-label="speciality" placeholder="Speciality">
            <ion-select-option value="generalist">Generalist</ion-select-option>
            <ion-select-option value="dentist">Dentist</ion-select-option>
            <ion-select-option value="dermatologist"
              >Dermatologist</ion-select-option
            >
          </ion-select>
        </ion-item>
      </ion-list>

      <ion-list>

        <ion-item>
          <ion-select aria-label="doctor" placeholder="Doctor">
            @for(doctor of allDoctors;track doctor){
              <ion-select-option [value]="doctor.name">{{doctor.name}}</ion-select-option>
            }
      
          </ion-select>
        </ion-item>

      </ion-list>

      <ion-list>
        <ion-item>
          <ion-select aria-label="location" placeholder="Location">
            <ion-select-option value="bucharest">Bucharest</ion-select-option>
            <ion-select-option value="lisbon">Lisbon</ion-select-option>
            <ion-select-option value="amsterdam">Amsterdam</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>

      <ion-text>Date :</ion-text>
      <!-- <ion-datetime presentation="month-year"></ion-datetime>
      <ion-datetime presentation="time"></ion-datetime> -->
      <ion-modal [keepContentsMounted]="true">
        <ng-template>
          <ion-datetime id="datetime"></ion-datetime>
        </ng-template>
      </ion-modal>

      <ion-item>
        <ion-textarea
          label="Notes"
          labelPlacement="stacked"
          placeholder="Any other info?"
        ></ion-textarea>
      </ion-item>
      <ion-datetime></ion-datetime>

      <ion-button>SAVE <ion-icon name="save-outline"></ion-icon></ion-button>
      </ion-card
    ><!-- <ion-button fill="outline" routerLink="/appointment-edit">Edit <ion-icon name="arrow-forward-circle-outline"></ion-icon> </ion-button> -->
  </div>
</ion-content>
